{
  "env": {
    "browser": true,
    "es6": true
  },

  "plugins": ["lit"],

  "extends": ["eslint:recommended", "google"],
  "rules": {
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "require-jsdoc": 0
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
