{
  "env": {
    "browser": true,
    "es6": true
  },

  "plugins": ["lit"],

  "extends": ["plugin:lit/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
  }
}
