{
  "env": {
    "browser": true,
    "es6": true
  },

  "plugins": ["lit"],

  "extends": "google",
  "rules": {
    "require-jsdoc": 0
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
